<mat-card>
    <h1 mat-dialog-title>Register</h1>
    <form [formGroup]="registerForm" (submit)="onSubmit()">
        <div fxLayout="column">
            <div fxLayout="row">
                <mat-form-field class="xa-firstname-form-input">
                    <mat-label>First name</mat-label>
                    <input type="text" matInput formControlName="first_name" placeholder="Ex. Kevin" required>
                    <!-- <mat-hint>Nice!</mat-hint> -->
                    <mat-error *ngIf="registerForm.controls['first_name'].errors?.required">
                        First name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="">
                    <mat-label>Last name</mat-label>
                    <input type="email" matInput formControlName="last_name" placeholder="Ex. Espinosa">
                    <!-- <mat-hint>Nice!</mat-hint> -->
                </mat-form-field>
            </div>
            <mat-form-field class="">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email"
                    placeholder="Ex. kevin@example.com"
                    required
                >
                <mat-error *ngIf="registerForm.controls['email'].errors?.email">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="registerForm.controls['email'].errors?.required">
                    Email is <strong>required</strong>
                </mat-error>
                <!-- <mat-hint>Nice!</mat-hint> -->
            </mat-form-field>
            <mat-form-field class="">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password"
                       placeholder="***********">
                <mat-error *ngIf="registerForm.controls['password'].errors?.required">
                    Password is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.controls['password'].errors?.minlength">
                    Password must have more than 5 characters
                </mat-error>
            </mat-form-field>
            <mat-form-field class="">
                <mat-label>Confirm password</mat-label>
                <input type="password" matInput formControlName="confirm_password"
                    required minlength="6" placeholder="***********">
                <mat-error *ngIf="registerForm.controls['confirm_password'].errors?.required">
                    Please confirm your password
                </mat-error>
                <mat-error *ngIf="registerForm.controls['confirm_password'].errors?.mustMatch">
                    Passwords must match
                </mat-error>
                <!-- <mat-error *ngIf="passwordFormControl.hasError('minLength')">
                  Your password must have more than <strong>5</strong> characteres
                </mat-error> -->
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" type="submit">Register</button>
        </div>
    </form>
</mat-card>
<div class="xa-hint-box">
    <mat-hint>Already have an account? </mat-hint> <a [routerLink]="['/authentication', 'login']">login!</a>
</div>
