@import './../shared-styles';
.xa-main-side-add-registry {
    margin-right: 12px;
}
.xa-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #673ab7;
    color: white;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
}
#large-screen-section {
    @media screen and (max-width: 599px) {
        display: block !important;
    }
}

.xa-checkbox-type {
    @media screen and (min-width: 599px) {
        margin-top: 36px;
    }
}