@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
.xa-card-title {
    margin-bottom: 1rem;
    h1 {
        margin: 0;
        font-family: 'Noto Sans TC', sans-serif;
    }
}
.xa-dashboard-container {
    // height: 70vh;
    // background-color: tomato;
}